@font-face {
    font-family: Raleway;
    src: url("./fontRaleway/Raleway-Black.ttf");
    
}

h1 {
    font-family: Raleway;
}

p {
    font-family: Raleway;
    font-size: 12px;
    
}

a {
font-family: Raleway;
font-size : 20px;
}