/*General*/

@font-face {
    font-family: Raleway;
    src: url("./fontRaleway");
}

img {
	max-width: 100%;
	max-height: auto;
}

h1, h2, h3 {
    font-family: Raleway;
    font-size: 22px;
}

body {
    background-color:#ffff;
    margin-top: 0%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;

}

p {
    font-family: Raleway;
    font-size: 16px;
    
}

a {
font-family: Raleway;
font-size : 15px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/*Icons colors*/

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog, .fas.fa-info, .fas.fa-star
{
    color:#0065fc;
}
.fas.fa-star.grey
{
    color: grey;
}


/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 40px;
}

nav a
{
    font-size: 16px;
    color: #181818;
    padding-top: 10px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}

#inscription
{
    color:#0065FC;
    
}
/* Titre et description */
.titre_de_la_page_et_description {
    line-height: 10px;
}

/* Rechercher */
.recherche
{
    display: flex;
    flex-wrap: wrap;
}
input[type=search]
{
    border: none;
}
input[name=ville]
{
    font-weight: bold;
}

input[type=submit]
{
    border: 0px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 10px 10px 10px;
}

input[value=Rechercher]
{
    font-weight: bold;
    color: white;
}

/* Filtres */

.filtres
{
    display:flex;
    flex-wrap: wrap;
}
.filtres ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;

}
button
{
    border-style: solid;
    border-width: 0.5px;
    border-radius: 25px 25px 25px 25px;
    border-color: grey;
    border-left-color: #deebff;
    font-weight: bold;
    background-color: white;
    padding: 0px 15px 0px 0px;

}
.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
{
    max-height: 5px;
    border-style: solid;
    border-width: 0px;
    border-radius: 80px 80px 80px 80px;
    background-color: #deebff;
    padding: 10px 10px 10px 10px;

}

/* Resultats filtres */

.resultats_filtres
{
    display: flex;
    flex-wrap: wrap;
}

.fas.fa-info {
    max-height: 5px;
    border-style: solid;
    border-width: 1px;
    border-radius: 80px 80px 80px 80px;
    border-color: grey;
    background-color: #deebff;
    padding: 10px 10px 10px 10px;
}

/*Hébergements*/
#hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.auberge_la_cannebiere, .hotel_du_port
{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
