/*General*/

@font-face {
    font-family: Raleway;
    src: url("./fontRaleway");
}


h1, h2, h3 {
    font-family: Raleway;
    font-size: 22px;
}

body {
    background-color:#f2f2f2;
    margin-top: 0%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;

}

p {
    font-family: Raleway;
    font-size: 16px;
    
}

a {
font-family: Raleway;
font-size : 15px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 40px;
}

nav li
{
    /*margin-right: 60px;*/
}

nav a
{
    font-size: 16px;
    color: #181818;
    padding-top: 10px;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 5px solid #0065FC;
}

#inscription
{
    color:blue;
    
}
/* Titre et description */
.titre_de_la_page_et_description {
    line-height: 10px;
}

/* Filtres */
.filtres{
    display:flex;
    flex-wrap: wrap;
}
.filtres ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

}

/*Icons colors*/
.fas.fa-money-bill-wave{
    color: blue;
}
.fas.fa-child{
    color: blue;
}
.fas.fa-heart{
    color: blue;
}
.fas.fa-dog{
    color: blue;
}
.fas.fa-info{
    color: blue;
}